@{
    ViewBag.Title = "Home Page";
    var navTitle = "Home";
}

<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <select id="machinesPara" class="col-sm-6 col-md-3 form-control para-select" data-style="btn-default">
        <option value="">Select Machine</option>
    </select>
    <select id="productsPara" class="col-sm-6 col-md-3 form-control para-select" data-style="btn-default">
        <option value="">Select Product</option>
    </select>
    <select id="durationPara" class="col-sm-6 col-md-3 form-control para-select" data-style="btn-default">
        <option value="0">Today</option>
        <option value="1">Previous Day</option>
        <option value="2">Last 7 Days</option>
        <option value="3">Last 30 Days</option>
        <option value="4">Last 6 Months</option>
    </select>
    <div class="clearfix">
    </div>
</div>

<!--BEGIN CONTENT-->
<div class="page-content">
    <div id="tab-general">
        <div id="sum_box" class="row mbl">

            <div class="col-sm-6 col-md-6">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="KpiBox">
                            <div class="KpiBox-Header">Units</div>
                            <div class="KpiBox-Content"><label id="numberOfUnits">10</label></div>
                            <div class="KpiBox-footer KpiBox-color-blue">Target Weight: <label id="tagetWeight">20</label> Kgs</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="KpiBox">
                            <div class="KpiBox-Header">Weight</div>
                            <div id="totalWeight" class="KpiBox-Content">200</div>
                            <div class="KpiBox-footer KpiBox-color-blue"><label id="averageTargetWeightDiviation">1.5</label> % Deviation</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="KpiBox">
                            <div class="KpiBox-Header">Avg</div>
                            <div id="averageWeight" class="KpiBox-Content">19.5</div>
                            <div class="KpiBox-footer"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-12">
                        <div class="KpiBox kpiDensityBox">
                            <div class="KpiBox-Header">Density Trend</div>
                            <div id="density_chart" style="width:100%; height: 100px;"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-md-6">
                <div class="row">
                    <div class="col-sm-6 col-md-12">
                        <div class="KpiBox kpiDensityBox">
                            <div class="KpiBox-Header">Locations</div>
                            <div id="locations_map" style="width:100%; height:275px;"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
             
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="KpiBox kpiDensityBox">
                    <div class="KpiBox-Header">Overall Equipment Effectiveness</div>
                    <div id="equipmentEffectiveness_div" style="width:100%; height: 120px;align-content:center;"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="KpiBox kpiDensityBox">
                    <div class="KpiBox-Header">KPIs</div>
                    <div id="kpis" style="width:100%;height: 100px;"></div>
                </div>
            </div>

        </div>



    </div>
<!--END CONTENT-->
<script type="text/javascript">
    
</script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/Scripts/Dashboard.js"></script>
