body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.KpiBox {
    background-color: #fff;
    border: 1px solid grey;
    border-radius:5px;
    min-height:150px;
    margin:5px;
    color:#000000;
}
.KpiBox-Header{
    text-align:center !important;
    font-size:20px;
    color:grey;
    margin-top:3px;
}
.KpiBox-Content {
    text-align: center !important;
    font-size: 25px;
    color: #000;
}
.KpiBox-footer {
    text-align: left;
    font-size: 13px;
    text-align: center !important;
}
.KpiBox-color-green {
    color: lightgreen;
}
.KpiBox-color-amber {
    color:orange;
}
.KpiBox-color-red {
    color: red;
}
.KpiBox-color-blue {
    color: #00c0c5;
}
